<h1>{{title}}</h1>
<form [formGroup]="loginForm" (ngSubmit)="loginUser()" >
  <input type="text" placeholder="enter name" formControlName="user">
  <br>
  <span style="color:red;" *ngIf="user && user.invalid && user.touched" >user input filed is not valid</span>
  <br><br>
  <input type="password" placeholder="enter password" formControlName="password">
  <br>
  <span style="color:red;" *ngIf="password && password.invalid && password.touched" >password input filed is not valid</span>
  <br>
  <br>
  <button [disabled]="loginForm.invalid">Login</button>
</form>